PORT=YOUR_PORT
MONGO_URL=YOUR_MONGODB_URL
JWT_SECRET=SECRET_KEY
NODE_ENV="development"
CLOUDINARY_CLOUD_NAME=CLOUDINARY_KEY
CLOUDINARY_API_KEY=CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=CLOUDINARY_API_SECRET